/* Set the default spacing of labels to 0 */
body,ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dd,select,input,textarea,form{margin:0;padding:0}

/* Make the h tag text size inherit from the body text setting */
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

/* Remove the default icon from the list */
ul,ol{list-style:none;}

/* Remove em's default italics */
em{font-style: normal;}

/* Remove the default underscore from the a tag */
a{text-decoration:none;}


/* Remove the box lines created when adding links */
img{border:0;}

/* Clear float */
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both;}
.clearfix{zoom:1}

/* Float */
.fl{float:left}
.fr{float:right}