{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>eBuy-register</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
<div id="app">
	<div class="register_con">
		<div class="l_con fl">
			<a href="index.html" class="reg_logo"><img src="{% static 'images/eBuy.png' %}"></a>
			<div class="reg_slogan">Welcome come to eBuy!</div>
			<div class="reg_banner"></div>
		</div>
		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>New Account </h1>
				<a href="login.html">Login </a>

			</div>
			<div class="reg_form clearfix">
				<form method="post" class="register_form" @submit="on_submit" v-cloak>
					{% csrf_token %}
					<ul>
						<li>
							<label>Username:</label>
							<input type="text" name="username" v-model="username" @blur="check_username" id="user_name">

							<span class="error_tip" v-show="error_name">[[ error_name_message ]]</span>
						</li>
						<li>
							<label>Password:</label>
							<input type="password" name="password" v-model="password" @blur="check_password" id="pwd">
							<span class="error_tip" v-show="error_password">Please enter a password of 8-20 digits!</span>
						</li>
						<li>
							<label>Password:</label>
							<input type="password" name="password2"  v-model="password2" @blur="check_password2" id="cpwd">
							<span class="error_tip" v-show="error_password2">The password entered twice does not match!</span>
						</li>
						<li>
							<label>Phone:</label>
							<input type="text" name="mobile" v-model="mobile" @blur="check_mobile" id="phone">
							<span class="error_tip" v-show="error_mobile">Please enter the correct mobile phone number!</span>
						</li>

						<li class="agreement">
							<input type="checkbox" name="allow" v-model="allow" @change="check_allow" id="allow">
							<label>Register you agree you've read and accepted our User Agreement.</label>
							<span class="error_tip" v-show="error_allow">Please tick the user agreement!</span>
							<span class="error_tip">
								{% if register_errmsg %}
									{{ register_errmsg }}
								{% endif %}
							</span>
						</li>
						<li class="reg_sub">
							<input type="Submit" value="Sign up">
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">About us</a>
			<span>|</span>
			<a href="#">Contact</a>
		</div>
		<p>Copyright © 1995-2021 eBuy Inc. All Rights Reserved</p>
	</div>
</div>
</body>
<script src="{% static 'js/vue-2.5.16.js' %}"></script>
<script src="{% static 'js/axios-0.18.0.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/register.js' %}"></script>
</html>